.search-bar-wrapper {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
  padding: 20px; /* Normal padding */
  text-align: center;
}

.search-input {
  display: inline-block;
  width: 300px;
}

.table-container {
  overflow-x: auto;
  max-width: 100%;
  white-space: nowrap;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}

.wide-table {
  min-width: 2000px;
}
